
body{
  text-align:center;
  padding: 5% 20%;
  line-height: 1.5;
}

h1{
  font-family: "Montserrat";
    font-size: 40px;
}
img{
    height:300;
    width:250;
    transition:transform .2s;
}
img:hover{
    transform:scale(1.5);
}
#Apps{
    width:1100px;
    background-image: linear-gradient(pink, peachpuff);
    
}
#Games{
    width:1100px;
    background-image: linear-gradient(#C6FFDD,#FBD786,#f7797d);
    
}
#ChatBots{
    width:1100px;
    background-image: linear-gradient(#EAECC6, #2BC0E4);
}

